.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

.fila{width: 50%;
  height: 50%;
}

body{  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;} 

.cont{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 35px rgba(0,0,0,0.1);}

  .ladoizquierdo{
    position: relative;
    background-color: #728973;
    padding: 40px;
}
.foto{
  position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.perfil{ display: flex;
  flex-direction: column;
  align-items: center;
 }
 .pading{padding-top: 40px;
}

 .iconos{    display: inline-block;
  width: 30px;
  font-size: 18px;}
  .letra{color: white;}

  .ladoderecho{    position: relative;
    background-color: #fff;
    padding: 40px;
  margin-bottom: 50px;}
    
  .parrafo{
    display: flex;
    flex-direction: column;
    align-items:center ;
  }

  .titulo {    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;}

    .espacio{    display: flex;
      flex-direction: row;
      margin: 20px 0;
  }
 